<h1>Welcome!</h1><br><br>

<form action="/login" method="POST">

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="email">Email: </label>
        <input id="email" class="form-control" type="text" name="email" required>
      </div>
  
      <div class="col-md-6 mb-3">
        <label for="password">Password: </label>
        <input id="password" class="form-control" type="password" name="password" aria-describedby="passwordHelpBlock" required>
      </div>
    </div><br>

    {{#if message}}
        <p style="color: red">{{message}}</p>
    {{/if}}

    <button class="btn btn-primary" type="submit">Log In</button>
    <a href="/google"><img src="images/btn_google_signin_dark_normal_web.png" alt="Log in with Google"></a>

</form>