<h1 class="h1">Projects looking for a hire:</h1>

<div class="d-inline-flex p-2 bd-highlight flex-wrap flex-column justify-content-around">

  {{#each allProjects}}
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    Title: {{title}} <br>
    Looking for:{{lookingFor}}<br>

    <a href="/projects/{{_id}}">
      <button type="button" class="btn btn-info rounded-pill">Learn More</button>
    </a>

  </div>
  {{/each}}
</div>



<a href="/new-project"> <button type="button" class="btn btn-info rounded-pill">Add a new Project</button></a>