<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <form class="" action="/new-project" method="POST">



    <div class="input-group">
      <div class="input-group-prepend">
        <label id="title" class="input-group-text">Title:</label>
      </div>
      <input name="title" id="title" class="form-control" aria-label="With textarea"></input>
    </div>
    <br>

    <div class="input-group">
      <div class="input-group-prepend">
        <label for="description" class="input-group-text">Description:</label>
      </div>
      <input name="description" id="description" class="form-control" aria-label="With textarea"></input>
    </div>
    <br>
    <div class="input-group">
      <div class="input-group-prepend">
        <label id="deadline" class="input-group-text">Deadline:</label>
      </div>
      <input name="deadline" id="deadline" class="form-control" aria-label="With textarea"></input>
    </div>
    <br>

</div>

<label for="webDev">Software Developer:</label>
<input type="number" name="webDev" id="webDev" min="0" max="4">

<label for="uxUi">Designer UX | UI:</label>
<input type="number" name="uxUi" id="uxUi" min="0" max="4">

<label for="data">Data:</label>
<input type="number" name="data" id="data" min="0" max="4">

<br>

<div class="input-group mb-3">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile02">
    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">
      Upload sketches | pictures of your project idea </label>
  </div>
  <div class="input-group-append">
    <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
  </div>
</div>
<br>

<button class="btn btn-info rounded-pill" type="submit">Create new Project</button>

</form>

</div>