  <h1 class="page-title">Add a Project</h1><br>

  <form class="edit-profile-container" action="/projects/new" method="POST">

    <div class="form-row">
        <label for="title"><strong>Title: </strong></label>
        <input id="title" class="form-control" type="text" name="title" >
    </div>

    <div class="form-row">
      <label for="deadline"><strong>Deadline: </strong></label>
      <input id="deadline" class="form-control" type="date" name="deadline" >
    </div>

    <div class="form-row">
        <label for="description"><strong>Description: </strong></label>
        <textarea id="description" class="form-control" type="text" name="description"></textarea>
    </div>

    <div class="form-row">
        <label for="location"><strong>Location: </strong></label>
        <select name="location" id="location" class="custom-select">
          {{{ optionsLocation }}}
        </select>
    </div>
    
    <div class="form-row">
      <label id="status"><strong>Status:</strong></label>
      <select name="status" id="status" class="custom-select">
        <option value="active" selected>Active</option>
        <option value="inactive">Inactive</option>
      </select>
    </div>
    <br>

    <p><strong>Looking to collaborate with:</strong></p>
    <div class="form-row">

      <div class="form-row-collab">
        <label for="webdev">Web Developer: &nbsp; </label>
        <input type="number" name="webdev" id="webdev" min="0" max="4" default="0">
      </div>

      <div class="form-row-collab">
        <label for="uxui">UX/UI Designer: &nbsp; </label>
        <input type="number" name="uxui" id="uxui" min="0" max="4" default="0">
      </div>

      <div class="form-row-collab">
        <label for="data">Data Analyst: &nbsp; </label>
        <input type="number" name="data" id="data" min="0" max="4" default="0">
      </div>

    </div><br>

    <button class="btn btn-dark" type="submit">Add a project</button>
  </form>
